<div class="row justify-content-md-center mt-5">
    <div class="col-8">
        <div class="card primary">
            <div class="card-header">
                <h3 class="card-title">CreateRéalisations</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <form method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="link">Password</label>
                        <input type="text" class="form-control" id="link" name="link">
                    </div>
                    <div class="form-group form-check">
                        <input type="file" class="form-check-input" id="file" name="picture">
                        <label class="form-check-label" for="file">image</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>